@font-face {
    font-family: 'ghost Shadow';
    src: url(../fonts/Ghost_Shadow.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Ghost Shadow, Helvetica, sans-serif;
}